<div class="card shadow-lg mt-5">
    <div class="card-header text-center py-4 border-0 bg-warning">
        <h1 class="fw-bold">Task details <i class="fa-solid fa-circle-info"></i></h1>
        
    </div>
    <div class="card-body p-4">
        <p>Title: {{todo.title}}</p>
        <p>Date Created: {{todo.dateCreated | date: 'EEEE, d MMMM, y [H:mm:ss]' }}</p>
        <p *ngIf="todo.dateFinished != 0">Date Finished: {{todo.dateFinished | date: 'EEEE, d MMMM, y [H:mm:ss]' }}</p>
        <p *ngIf="todo.dateEdited != 0">Date Edited: {{todo.dateEdited | date: 'EEEE, d MMMM, y [H:mm:ss]' }}</p>
        <p *ngIf="todo.isDone != false">Status: <span [ngClass]="todo.isDone?'fa-solid fa-circle-check text-success':'fa-regular fa-circle'"></span></p>
    </div>
    <button class="btn btn-warning btn-sm " (click)="onHide()">close</button>
</div>